*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Marcellus SC', serif;
  color: #fff;
}

body{
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo{
  width: 14rem;
  margin: 1.5em auto;
}

.logo img{
  width: 100%;
  vertical-align: middle;
}

#comment{
  text-align: center;
  color: rgb(225, 223, 220);
  padding-bottom: 1rem;
}

section{
  margin: 0 auto;
  max-width: 650px; 
}

.card-container{
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1rem;
}

.card-container .card{
  width: 4em;
  overflow: hidden;
  border: 2px solid rgb(72, 64, 26);
  border-radius: 0.3em;
  margin: 4px;
  transform:skewX(-12deg);
  transition: .1s;
  cursor: pointer;
}

.card-container .card:hover{
  border: 2px solid rgba(255,207,38,1);
  transform: scale(1.25) skewX(-12deg);
  box-shadow: 0px 0px 15px #766431;
  z-index: 1;
}

.card-container .card img{
  width: 115%;
  height: 100%;
  transform: translateX(-5px) skewX(12deg) scale(1.2);
}

#startBtn{
  font-size: 20px;
  display: block;
  margin: .8rem auto;
  width: 240px;
  padding: 4px 20px;
  border: 2px solid #6C570A;
  border-radius: 2rem;
  cursor: pointer;
  background: rgb(255,207,38);
  background: linear-gradient(180deg, rgba(255,207,38,1) 0%, rgba(84,72,29,1) 100%);
}

#startBtn:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 15px #6C570A;
  background: rgb(255,207,38);
  background: linear-gradient(180deg, rgba(255,207,38,1) 0%, rgba(84,72,29,1) 100%);
}

